/*|| General styles */

body {
	width: 70%;
	margin: 0 auto;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #bababa;
}

header {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;

	background-color: #f4df4f;
	border-radius: 10px;
}

.main-view {
	height: 800px;
	width: 100%;
	margin: 20px auto 0;
}

.sub-view {
	width: 100%;
	border-radius: 10px;
}

/*|| Specific elements */

[href="https://mtg.github.io/essentia.js/"] {
	margin-left: 1em;
	width: 30%;
	flex-grow: 0;
	display: flex;
}

[src="images/essentiajsbanner.png"] {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 10px;
	align-self: center;
}

/*|| Audio View and Upload */

#audio-container {
	height: 400px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
}

.drop-zone {
	border: 3px dashed #f4df4f;
	font-size: 1.5em;
}

.drop-zone:hover {
	border: 4px dashed rgb(237, 98, 93);
	font-weight: bold;
}

.audio-display {
	height: 200px;
	width: 100%;
	max-width: 100%;
	margin: 0;
	background-color: black;
	border-radius: inherit;
	flex: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.audio-display canvas {
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	width: 100%;
	flex-grow: 1;
}


/*|| Audio controls */

#audio-controls {
	height: 40px;
	margin-top: 1em;

	display: flex;
	flex-direction: row;
	justify-content: left;
}
.control {
	margin: 0 0.5em;
	height: 1.7em;
}

.control:first-child {
	margin: 0 0.5em 0 0;
}

.control:last-child {
	margin: 0 0 0 0.5em;
}

input[type="file"] {
	display: none;
}

#play-pause.playing {
	background-color: #f7d810;
}

#play-pause.stopped {
	background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
}

/*|| Data Display */
#data-display {
	display: flex;
	flex-direction: column;
	justify-content: right;
	text-align: right;

	font-weight: bold;
}